extends layout 
 
block content 
  h1= title 
 
  form(id='teaForm', action="/resource/tea", method="POST") 
    div.form-group 
        label.teaAttr(for='tea_type') tea type 
        input#tea_type(type='text', name='tea_type') 
    div.form-group 
        label.teaAttr(for='flavour') tea flavour 
        input#flavour(type='text', name='flavour') 
    div.form-group 
        label.teaAttr(for='tea_price') tea price 
        input#tea_price(type='number', name='tea_price') 
    input(type="submit") 
 
  script. 
    document.forms['teaForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 